[user]
    ; email = 66522725+milkias17@users.noreply.github.com
    email = milkias.yeheyis@yahoo.com
	name = Milkias Yeheyis
[core]
    editor = nvim
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	ff = only
[alias]
	c = commit -m
	ac = commit -am
