configuration {
	font: "Sora Regular 12";
	show-icons: true;
	terminal: "kitty -1";
	theme: "/home/mike/.config/rofi/themes/nord.rasi";
    modi: "window,run,drun,windowcd";
    window-thumbnail: true;
    lines: 8;
	display-drun: "Run";
	drun-use-desktop-cache: true;
}
@import "~/.config/rofi/themes/nord.rasi"
